/*Projects page*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

header{
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
}

.head{
    width: 100%;
}

.top{
    height: 60vh;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 3%;
    
}

footer{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: rgba(250,221,221,1);
    padding-right: 20px;
    padding-left: 20px;
}

.heading{
   /* font-family: Garamond, Georgia, 'Times New Roman', Times, serif;*/
   font-family: Oswald, 'Fjalla One';
    font-size: 40px;
    color: black;
    align-items: flex-start;
}

.about{
    font-family: Suravaram;
    font-size: 20px;
    text-decoration: none;
    justify-content: flex-end;
}

.card{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.row{
   display: flex; 
}

.project-img{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.really-irritating{
    display: flex;
}

.irritating{ 
    justify-content: flex-end;
}

/* About me section*/

.about-heading{
    display: flex;
    padding-top: 7%;
    font-family: Oswald, 'Fjalla One';
    font-size: 40px;
    color: black;
}

.about-me{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.right{
    height: 100vh;
    width: 70%;
    padding-left: 9%;
    /* align-content: space-between; */
}

.about-para{
    font-family: Suravaram;
    font-size: 20px;
    
}

.left{ 
    display: flex;
    height: 100vh;
    width: 30%;
    flex-direction: column;
    padding:0%;
    justify-content: space-between;  
}

.icon{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    align-items: flex-end; 
}

.linkedIn{
    margin-right: 5%;
}

.about-img{
    display: flex;
    width: 80%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

button{
    display: inline-block;
    border-radius: 6px;
    background-color: rgba(239, 179, 145, 1);
    color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    padding: 10px;  
    transition: all 0.5s;
    cursor: pointer;
}

button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span{ 
    padding-right: 20px;
}

button:hover span:after{
    opacity: 1;
    right:0;
}